
    .button.is-medium{
      margin-right: 4rem;
      margin-left: 4rem;
    }

    .button.is-1{
      margin-top:2.5rem;
    }

    .columns-posts{
        margin: 1rem;
    }

    .date-align-right{
      text-align:right;
    }